@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Chewy);

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    z-index: 1;
}

body{
/*    overflow: hidden;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

center .titulo{
    position: relative;
    font-family:Chewy;
    font-size:30px;
    text-align: center;
    z-index: 1000;
    color: #fff;
}

center .subtitulo{
    position: relative;
    font-family:Source Sans Pro;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    color: #fff;
    padding: 1rem;
}

.rules {
    position: relative;
    z-index: 1000;
    max-width: 30rem;
    padding: 2rem;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
    font-family:Source Sans Pro;
    margin: 1rem;
}

.rules h2, .rules strong{
    color: #ff2770;
}

.rules p{
    color: #fff;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.rules::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
    z-index: -1;
}

.rules button {
    background-color: #ff2770;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.rules button:hover {
    background-color: #FE8CB2;
}


/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
    backdrop-filter: blur(10px); /* Difumina el fondo */
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

.modal h3{
    color: #ff2770;
}

.modal-content {
    background-color: #282c34; 
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    width: 80%;
    max-width: 600px; 
    color: #ffffff; 
    text-align: center;
    font-family:Source Sans Pro;
    font-size: 30px;
}

.timer {
    font-size: 2em;
    margin-top: 10px;
}

/*.highlight {
    font-size: 20px; 
    color: #FF5656;
    font-weight: bold; 
}
*/
.modal.show {
    display: block;
    opacity: 1;
}

.modal-content.show {
    transform: scale(1);
}


/*MEDIDAS RESPONSIVE*/

/*@media screen and (max-width: 700px) { 
    .verdad, .reto{
        width: 150px;
        height: 150px;
    }

    .verdad img, .reto img{
        height: 75px;
        width: auto;
    }

}*/

