@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Chewy);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    z-index: 1;
}

.card {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgba(9,9,121,1) 58%, rgba(9,14,124,1) 58%, rgba(0,212,255,1) 100%);
    border-radius: 15px;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    z-index: 100;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family:Chewy;
    font-size:30px;
    color: #fff;
}

.card img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 20px;
    font-family:Source Sans Pro;
    font-size: 18px;
    color: #fff;
}

.card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background-color: #0056b3;
}